*{
    margin:0;
    padding:0;
    font-family: "Architects Daughter";
    font-weight: bold;
    font-size: 23px;
}
.container{
    display: grid;
    grid-template-columns: 0.5fr 1.5fr 0.5fr;
}
.item1{
background-color: beige;
width:100%
}
.item2{
 background-color:bisque;
 width:100%
}
.item3{
  background-color: aqua;
width:100%
}
img{
  height:auto;
  width:50vh;
}
.item2 p{
  padding-top:5%;
  padding-left: 8%;
  padding-right: 8%;
  padding-bottom: 2%;
  text-align: center;
  text-decoration: wavy;
  word-spacing: 5px;
  line-height: 25px;
}
h1,h2{
  text-align: center;
}
ul {
  list-style-type:none;
  overflow:hidden;
  font-weight: 900;
}
li{
  float:left;
}
li a {
  display:block;
  text-align: center;
  text-decoration:wavy;
  font-size: 23px;
  color: black;
  opacity: 0.8;
  padding: 14px 20px;
}
li a:hover {
  background-color: rgba(119, 106, 106, 0.75);
}
h1{
  font-size:xx-large;
}